<h1>Events</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'create_event' game_id %}" method="post">
  {% csrf_token %}
  <div>
    {{ event_form }}
  </div>
  <input type="submit" value="Submit" />
  
</form>

<div>
  {% for parent_event in parent_events %}
    <ul>
      <a href="{% url 'show_event' game_id parent_event.id %}">{{ parent_event.name }}</a>
      {% for event in parent_event.children %}
          <li>
	      <a href="{% url 'show_event' game_id event.id %}">{{ event.name }}</a>
          </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
