<h1>Events</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'create_event' game_id %}" method="post">
  {% csrf_token %}
  <div>
    {{ event_form }}
  </div>
  <input type="submit" value="Submit" />
  
</form>

<div>
  {% for parent_event in parent_events %}
    {% for event in parent_events.child_events %}
      <div>
	<a href="{% url 'show_event' game_id event.id %}">{{ event.name }}</a>
      </div>
    {% endfor %}
  {% endfor %}
</div>
